<div id="content">
   <div class = "itemdetail" >
		<div class = "itemhighlight" >
			<h3> Send Message </h3>
		</div>

        <%= render :partial => "form_message", :locals => { :url => messages_path }%>
	</div>
</div>
