<div id="topbar">
	<div id="leftnav">
		<a href="/items"><img alt="home" src="/images/home.png" /></a>
	</div>
</div>

<h1>Update</h1>

<% if @item.user != current_user%>
Not Authorized!
<%else%>
<%= render 'form_edit' %>
<%end%>
