<div id="content">
  <div class="itemdetail"> </br> </br>
    <ul class="pageitem">
      <div class="itemhighlight">
        <li>
          <h3><%= @user.login %></h3>
        </li>
      </div>
      <li>
        <i>
          <%= @user.address %>
        </i>
      </li>
      <li>
        <i>
          <%=  %>
        </i>
      </li>

      </br>
    </ul>

    <ul class="pageitem">
        <span class="name">
       		<%= link_to 'Check Reviews', comments_path(@user.id) %>
        </span>
    </ul>
  </div>
</div>