<div id="topbar">
  <div id="leftnav">
    <a href="/items"><img alt="home" src="/images/home.png"/></a>
  </div>
</div>

<div id="content">
  <div class="itemdetail"> </br> </br>
    <ul class="pageitem">
      <div class="itemhighlight">
        <li>
          <h3><%= @user.login %></h3>
        </li>
      </div>
      <li>
        <i>
          <%= @user.login %>
        </i>
      </li>

      </br>
    </ul>

    <ul class="pageitem">
        <span class="name">
       		<%= link_to 'Check Reviews', comments_path(@user.id) %>
        </span>
    </ul>
  </div>

</div>